@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #FCFCFC;
  padding-top: 80px;
}


.articles-panel {
  margin-top: 20px;

  .article-title {
    font-size: 20px;
  }
}

.detail-article {
  .article-detail-title {
    margin-bottom: 30px;
  }
  .article-detail-body {
    margin-top: 30px;
  }
}

.edit-delete {
  margin-top: 20px;
}
